body {
  background-color: #e5d2c1;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  -webkit-justify-content: center;

}
.mainContainer {
  background-color: #ffffff;
  align-items: center;
  font-size: calc(10px + 2vmin);
  display: flex;
  color: #404041;
  flex-direction: column;
  padding-inline: 10vw;
  width: 60vw;

}

hr{
  border: solid #404041;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 10vw;
  padding-left: 10vw;
}

